@charset "UTF-8";
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendardvariable.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
}

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #2c2c2c;}

body{font-family: 'Pretendard';}

header{
    width: 100%;
    padding-top: 30px;
    position:absolute;
    left: 0;
    top: 0px;
    z-index: 60;
}
header .top{
    display: flex;
    width: 1600px;
    height: 40px;
    justify-content: space-between;
    color: #393939;
    margin: 0 auto;
}
header .top>ul{
    display: flex;
    justify-content: space-between;
}
header .top .top-btn{
    width: 980px;
    justify-content: space-between;
    font-weight: 300;
    letter-spacing: -1px;
}
header .top .top-btn>li{cursor: pointer;}
header .top ul .line{
    background-color: #afafafa4;
    height: 15px; width: 1px;
    margin: 2px 10px 0 10px;
}
header .top .login{
    display: flex;
    justify-content: space-between;
}
header .top .login>li:nth-child(1){
    cursor: pointer;
}
header .top .login .language{
    display: flex;
    flex-direction: column; 
}
header .top .login .language .lag{
    width: 70px;
    height: 200px;
    background-color: #393939;
    color: #fff;
    display: none;
    text-align: center;
    line-height: 25px;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    right: 120px;
    padding-top: 20px;
    cursor: pointer;
    z-index: 100;
}
header .top .login .language .lag>li:hover{
    color:#c4c4c4
}
header .top .login .language .lag>li{
    width: 70px;
    height: 50px;
}
header .top .login .angle{
    position: relative;
}
header .top .login .angle>i{
    position: absolute;
    left: 0px;
    top: 0;
    cursor: pointer;
}
header .top .login .angle .bye{
    display: none;
}

/* 언어 선택 화살표 */
header .top .login .angle .fa-angle-up { display: none; }
header .top .login .angle.open .fa-angle-down { display: none; }
header .top .login .angle.open .fa-angle-up { display: block; }

header .top::after{
    content: "";
    display: block;
    width: 1600px; 
    height: 1px;
    background-color: #afafafa4;
    position: absolute;
    left: 152px; 
    top: 70px;
    z-index: 50;
}
header .bottom-wrap{
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    overflow: hidden;
    transition: all 0.3s;
}
header .bottom-wrap.on{
    height: 300px;    
}
header .bottom{
    display: flex;
    color: #838383;
    width: 1600px;
    margin: 0 auto;
    position: relative; 
    height: 500px;
}
header .bottom .logo{
    width: 70px;
    height: 40px;
    top: 30px; left: 0;
    background-image: url(images/logo_skyz.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    z-index: 100;
}
header .bottom .logo a{ display: block; width: 100%; height: 100%;}
header .bottom .top-gnb{
    display: flex;
    font-size: 20px;
    font-weight: 400;
    margin-left: 100px;
    width: 790px;
    justify-content: space-between;
    position: relative;
    top: 20px;
    left: 0;
}
header .bottom .top-gnb>li{
    cursor: pointer;
    width: calc(790px / 5);
    line-height: 50px;
    position: relative;
}
header .bottom .top-gnb>li a{
    color: #636363;
}
header .bottom .top-gnb>li:hover>a{
    color: #242424;
}
header .bottom .top-gnb>li a:hover{
    color: #292929;
}
header .bottom .top-gnb .sub{
    line-height: 30px;
    position: absolute;
    left:0; top:80px;
    display:  none;
}
header .bottom .top-gnb .sub a{
    font-size: 16px;
    color: #5a5a5a;
    font-weight: 300;
}
/*------section------*/
section .sec1-notice .aaa{
    display: flex;
    margin-top: 230px;
    padding-top: 75px;
    height: 550px;
    box-sizing: border-box;
}

section .sec1-notice .aaa .scr-area{
    position: relative;
    bottom: -235px;
    left: 80px;
    font-size: 13px;
    font-weight: 600;
}

/* ---------------- 스크롤 메뉴 ---------------- */

.scrWrap{
    height: 60px;
    padding-left: 15px;
    padding-bottom: 20px;
    cursor: pointer;
    position: relative;
}

/* G-line 유지 */
section .sec1-notice .aaa .scr-area .G-line{
    width: 4px;
    height: 240px;
    position: absolute;
    background-color: #adadad;
    left: -19px;
    top: 0;
}

/* ---------------- 메뉴 li ---------------- */
.scr-area .scrWrap ul{
    position: relative;
}
.scr-area .scrWrap .tt{
    margin-bottom: -40px;
    position: absolute;
    left: 25px; top: -18px;
}
.scr-area .scrWrap .bb{
    margin-top: -40px;
    position: absolute;
    left: 25px; bottom: -25px;

}
.scr-area .scrWrap ul li{
    width: 200px;
    height: 60px;
    line-height: 50px;
    opacity: 0;
    position: relative;              
    transition: opacity 0.3s ease;
    left: -15px; top: 0;
}
.scr-area .scrWrap ul li::before{
    content: "";
    position: absolute;
    left: -19px;
    top: 0;
    width: 4px;
    height: 80px;
    background-color: #2c2c2c;
    opacity: 0;                      
    transition: opacity 0.3s ease;   
}

.scr-area .scrWrap ul li.on{
    opacity: 1;
}
.scr-area .scrWrap .m123 .tt{color:#a09f9f}
.scr-area .scrWrap .setM .bb{color:#a09f9f}
.scr-area .scrWrap ul li.on::before{
    opacity: 1;                      
}

.scr-area .scrWrap ul li:nth-child(2){
    margin: 20px 0px;
}
.scr-area .scrWrap ul li P{padding-top: 15px;}

section .sec1-notice .notice-textWrap{
    text-align: center;
    margin: 0 auto;
    padding-right: 110px;
}
section .sec1-notice .notice-textWrap h1{
    font-size: 70px;
    line-height: 65px;
    font-weight: 900;
    margin-bottom: 40px;
}
section .sec1-notice .notice-textWrap p{
    font-size: 16px;
    font-weight: 400;
    color: #2c2c2c;
    line-height: 33px;
}
section .sec1-notice .notice-textWrap .notice-btn{
    display: flex;
    width: 300px; height: 60px;
    margin: 30px auto;
    justify-content: space-between;
    color: #2c2c2c;
}
section .sec1-notice .notice-textWrap .notice-btn>div{
    border: 1px solid #3f3f3f;
    width: 140px;
    cursor: pointer;
    padding-top: 12px;
    box-sizing: border-box;
    transition: all 0.5s;
}
section .sec1-notice .notice-textWrap .notice-btn>div p{
    font-size: 14px; font-weight: 300;
    transition: all 0.5s;
}
section .sec1-notice .notice-textWrap .notice-btn>div:hover{
    border: 1px solid #cccccc;
    background-color: #cccccc;
}
section .sec1-notice .notice-textWrap .notice-btn>div:hover p{
    color: #ffffff;
}
section .backgroundimg{
    width: 100%; height: 720px;
    background-size: cover;
    background-position: bottom;
    background-image: url(images/sec1.png);
}
/*----section-02-----*/
section .sec2-mainmenu{
    width: 100%;
    padding-top: 200px;
}
section .sec2-mainmenu .sec2Wrap>div{
    width: 1600px; height: 245px;
    margin: 0 auto;
}
section .sec2-mainmenu .sec2Wrap .brownBox{
    height: 370px;
    background-color: #3d352e;
    position: relative;
}
section .sec2-mainmenu .sec2Wrap .arrowWrap{
    display: flex;
    position: absolute;
    bottom: 50px; right: 50px;
    fill:#ffffff93;
}
section .sec2-mainmenu .sec2Wrap .arrowWrap>div{
    cursor: pointer;
    margin-left: 30px;
}
section .sec2-mainmenu .sec2Wrap .arrowWrap>div:hover{fill:#fff;}
/*--------*/
section .sec2-mainmenu{
    width: 100%;
    padding-top: 200px;
}

/* 상단 박스 영역 */
section .sec2-mainmenu .sec2Wrap > div{
    width: 1600px;
    height: 245px;
    margin: 0 auto;
}

section .sec2-mainmenu .sec2Wrap .brownBox{
    height: 370px;
    background-color: #3d352e;
    position: relative;
}

/* 화살표 */
section .sec2-mainmenu .sec2Wrap .arrowWrap{
    display: flex;
    position: absolute;
    bottom: 50px;
    right: 50px;
    fill: #ffffff93;
}

section .sec2-mainmenu .sec2Wrap .arrowWrap > div{
    cursor: pointer;
    margin-left: 30px;
}

section .sec2-mainmenu .sec2Wrap .arrowWrap > div:hover{
    fill: #fff;
}

/*---------------메뉴 영역------- */

section .sec2-mainmenu .insideWrap{
    width: 1600px;
    z-index: 60;
    display: flex;
    position: relative;
    left: 201px; top: -600px;
}

/* 타이틀 */
section .sec2-mainmenu .insideWrap h1{
    font-size: 55px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -2px;
    margin-left: 40px;
    margin-top: 20px;
}

section .sec2-mainmenu .insideWrap h1 span{
    margin-left: 80px;
}

.insideWrap .menuWrap{
    width: 1200px;
    overflow: hidden;
    position: relative;
    margin-left: 80px;
}

.insideWrap .menu{
    display: flex;
    position: relative;
    left: -400px; 
    width: max-content;
}

.insideWrap .menu > li{
    width: 300px;
    margin-left: 100px;
    color: #fff;
    flex-shrink: 0; 
}

/* 텍스트 스타일 */
.insideWrap .menu p{
    color: #ffffff93;
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
}

.insideWrap .menu .menu-Name{
    margin-top: 10px;
    font-size: 22px;
    padding-left: 10px;
}

.insideWrap .menu .menu-EName{
    margin-bottom: 15px;
    padding-left: 10px;
}
section .sec2-mainmenu .insideWrap .menu>li{
    color:#fff;
    margin-left: 100px;
}
section .sec2-mainmenu .insideWrap .menu>li div{
    background-repeat: no-repeat;
    background-size: 150%;
    background-position:center;
    width: 300px;
}
section .sec2-mainmenu .insideWrap .menu .menu01 .imgbox{
    height: 300px;
    background-image: url(images/menu1.png);
}
section .sec2-mainmenu .insideWrap .menu .menu02 .imgbox{
    height: 240px;
    background-image: url(images/menu2.png);
}
section .sec2-mainmenu .insideWrap .menu .menu03 .imgbox{
    height: 280px;
    background-image: url(images/menu3.png);
    background-size: 180%;
    background-position: -180px -90px;
}
section .sec2-mainmenu .insideWrap .menu .menu04 .imgbox{
    height: 300px;
    background-image: url(images/menu4.png);
    background-size: 110%;
    background-position: 0px -50px;
}
section .sec2-mainmenu .insideWrap .menu .menu05 .imgbox{
    height: 240px;
    background-image: url(images/zzzzz.png);
}
section .sec2-mainmenu .insideWrap .menu .menu06 .imgbox{
    height: 280px;
    background-image: url(images/menu6.png);
    background-size: 180%;
}
section .sec2-mainmenu .insideWrap .menu .menu07 .imgbox{
    height: 260px;
    background-image: url(images/menu7.png);
    background-size: 250%;
}

/*-----section3------*/
.sec3-reser{
    width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    color: #2c2c2c;
    display: flex;
    justify-content: space-between;
    margin-top: -300px;
    margin-bottom: 150px;
}
.sec3-reser .imgConts{
    width: 1200px;
    overflow: hidden;
}
.sec3-reser .imgConts .setimgWrap{
    display: flex;
    width: 1830px;
}
.sec3-reser .setimgWrap>li{
    margin: 0 40px;
}

.sec3-reser .setimg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 530px; height: 500px;
}
.sec3-reser .setimgWrap .lunch2 .setimg{background-image: url(images/set1.png);}
.sec3-reser .setimgWrap .people2 .setimg{background-image: url(images/set3.png);}
.sec3-reser .setimgWrap .people3 .setimg{background-image: url(images/set2.png);}
/*---글자영역----*/
.sec3-reser h3{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 800;
    font-family: "pretendard";
}
.sec3-reser p{
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
}
.sec3-reser .choice{
    margin-top: 70px;
    letter-spacing: 1px;
    font-size: 18px;
}
.sec3-reser .choice>li:nth-child(1){
    width: 50px; height: 25px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 2px;
    color: #fff;
    background-color: #3d352e;
    letter-spacing: 3px;
}
.sec3-reser .choice .addmore{
    color: #5a5a5a;
    font-weight: 400;
    margin-top: 30px;
}
.sec3-reser .choice .addmore .space{
    margin-top: 10px;
}
/*------설명구절---*/
.sec3-reser .exp{
    position: relative;
}
.sec3-reser .exp>li{
    position: absolute;
    width: 380px;
    right: 0;top: 0;
}
.sec3-reser .next{
    position: absolute;
    top: 70px; right: 30px;
}
.sec3-reser .next i{
    color: #97979793;
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
}
.sec3-reser .next i:hover{
    color: #3d352e;
} 
.exp .lunch2_exp .choice .addmore .space{
    font-size: 13px;
    font-weight: 600;
}
/*-----------section4-------------*/
.sec4-timeNotice{
    position: relative;
    width: 1600px; height: 800px;
    box-sizing: border-box;
    background-image: url(images/aaaaaaa.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    margin: 0 auto;
    text-align: center;
    background-color: #2c2c2c;
    color: #fff;
}

/* 어두운 오버레이 */
.info-overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.info-content{
    position: relative;
    z-index: 2;
    color: #fff;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-content h2{
    font-size: 50px;
    margin-bottom: 60px;
    letter-spacing: -1px;
    padding-top: 150px;
}

.info-content ul{
    list-style: none;
    margin-left: 500px;
}

.info-content li{
    display: flex;
    gap: 20px;
    margin-bottom: 18px;
    align-items: center;
    letter-spacing: 1px;
}

.info-content .label{
    background: rgba(255,255,255,0.2);
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 15px;
    width: 70px;
}
.info-content .text{
    font-size: 17px;
}

.notice{
    margin-top: 60px;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ffffffbb;
}



/*--------footer------*/
footer{
    font-weight: 300;
    background-color: #f6f6f6;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 100px;
}
footer .footer-contents{
    width: 1600px;
    margin: 0 auto;
    padding-top: 30px;
    color: #2c2c2c;
}
footer .footer-contents .footer-gnb{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
footer .footer-contents .footer-gnb:hover{
    cursor: pointer;
}
footer .footer-contents .footer-gnb span{
    font-weight: 500;
}
footer .footer-contents .sns{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
}
footer .footer-contents .sns li a>i{
    background-color: #2c2c2c;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
}
footer .footer-contents .sns>li:hover{
    cursor: pointer;
}
footer .footer-contents .footer-box{
    display: flex;
    justify-content: space-between;
}
footer .footer-contents .footer-box .address{
    margin-top: 30px;
    color: #5a5a5a;
}
footer .footer-contents .footer-box .address span:hover{
    cursor: pointer;
}
footer .footer-contents .footer-box .footer-right{
    font-size: 14px;
    color: #5a5a5a;
    text-align: right;
}
footer .footer-contents .footer-box .footer-right .security{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 27px;
    margin-bottom: 18px;
}
footer .footer-contents .footer-box .footer-right .security img{
    width: 38px;
    margin-left: 120px;
}
footer .footer-contents .footer-box .footer-right .security img:hover{
    cursor: pointer;
}
footer .footer-contents .footer-logo{
    text-align: center;
    margin-top: 45px;
    padding-bottom: 20px;
}
footer .footer-contents .footer-logo:hover{
    cursor: pointer;
}
footer .footer-contents .footer-logo img{
    width: 105px;
}