@charset "UTF-8";

/* ----reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{list-style: none;}

a{
    text-decoration: none;
    color: inherit;
}

img{
    vertical-align: top;
    border: none;
}

@font-face{
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendardvarialbe.woff2')
    format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
}

body{
    font-family: 'Pretendard';
    color: #121212;
}

/* ------------------------------------------------------------------------ */

/* come */
.sec-title{
    width: 1600px;
    display: flex;
    justify-content: center;
    margin: 0 auto 40px;
    font-size: 38px;
    font-weight: 600;
}

/* 헤더 */
header{
    width: 100%;
    padding-top: 30px;
    position:absolute;
    left: 0;
    top: 0px;
    z-index: 60;
}
header .top{
    display: flex;
    width: 1600px;
    height: 40px;
    justify-content: space-between;
    color: #fff;
    text-shadow: 2px 2px 5px #2c2c2c43;
    margin: 0 auto;
}

header .top>ul{
    display: flex;
    justify-content: space-between;
}
header .top .top-btn{
    width: 980px;
    justify-content: space-between;
    font-weight: 300;
    letter-spacing: -1px;
}
header .top .top-btn>li{cursor: pointer;}
header .top ul .line{
    background-color: #fff;
    height: 15px; width: 1px;
    margin: 2px 10px 0 10px;
}
header .top .login{
    display: flex;
    justify-content: space-between;
    text-shadow: 2px 2px 5px #2c2c2c43;
}
header .top .login>li:nth-child(1){
    cursor: pointer;
}
header .top .login .language{
    display: flex;
    flex-direction: column; 
}
header .top .login .language .lag{
    width: 70px;
    height: 200px;
    background-color: #393939;
    color: #fff;
    display: none;
    text-align: center;
    line-height: 25px;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    right: 120px;
    padding-top: 20px;
    cursor: pointer;
    z-index: 100;
}
header .top .login .language .lag>li:hover{
    color:#c4c4c4
}
header .top .login .language .lag>li{
    width: 70px;
    height: 50px;
}
header .top .login .angle{
    position: relative;
}
header .top .login .angle>i{
    position: absolute;
    left: 0px;
    top: 0;
    cursor: pointer;
}
header .top .login .angle .bye{
    display: none;
}

/* 언어 선택 화살표 */
header .top .login .angle .fa-angle-up { display: none; }
header .top .login .angle.open .fa-angle-down { display: none; }
header .top .login .angle.open .fa-angle-up { display: block; }

header .top::after{
    content: "";
    display: block;
    width: 1615px; 
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 152px; 
    top: 70px;
    z-index: 50;
}

header .bottom-wrap{
    width: 100%;
    height: 80px;
    /* background-color: #ffffff; */
    overflow: hidden;
    transition: all 0.3s;
}
header .bottom-wrap.on{
    height: 300px; 
    background-color: #fff;   
}
header .bottom{
    display: flex;
    color: #838383;
    width: 1600px;
    height: 300px;     
    margin: 0 auto;
    position: relative; 
}
header .bottom .logo{
    width: 70px;
    height: 40px;
    background-image: url(images/main_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 100;
    cursor: pointer;
}
header .bottom .top-gnb{
    display: flex;
    font-size: 20px;
    font-weight: 400;
    margin-left: 100px;
    width: 790px;
    justify-content: space-between;
    position: relative;
    top: 20px;
    left: 0;
}
header .bottom .top-gnb>li{
    cursor: pointer;
    width: calc(790px / 5);
    line-height: 50px;
    position: relative;
}
header .bottom .top-gnb>li a{
    color: #fff;
}


header .bottom .top-gnb:hover a{
    color: #242424;
}
header .bottom .top-gnb>li a:hover{
    color: #292929;
    font-weight: 500;
}

header .bottom .top-gnb .sub{
    line-height: 30px;
    position: absolute;
    left:0; top:80px;
    display:  none;
}
header .bottom .top-gnb .sub a{
    font-size: 16px;
    color: #5a5a5a;
    font-weight: 300;
}

/* 섹션1 메인배너 */
#mainBanner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(./images/2025112419ab42d303c20.jfif) no-repeat center right  / cover;
    overflow: hidden;
}


#mainBanner .banner-inner{
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 700px;
    color: #fff;
    text-shadow: 2px 2px 5px #2c2c2c43;
}


#mainBanner .banner-inner h1{
    font-size: 100px;
    font-weight: 600;
    margin-bottom: 20px;
}


#mainBanner .banner-inner h3{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 14px;
}


#mainBanner .banner-inner p{
    font-size: 17px;
    line-height: 1.6;
    opacity: 0.9;
}


#mainBanner .banner-btn{
    display: flex;
    gap: 20px;
    margin-top: 60px;
}

#mainBanner .banner-btn li{
    width: 140px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 30px;
    text-align: center;
    line-height: 36px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}


#mainBanner .banner-btn li:hover{
    background: #fcc821;
    border-color: #fcc821;
    color: #3d352e;
}

/* --메인배너 시계 */
#mainBanner .banner-clock{
    width: 280px;
    position: absolute;
    right: -1070px;
    top: -20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 16px 22px;
    border-radius: 16px;
    /* ----glass효과 */
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);

    /* background: rgba(188, 188, 188, 0.293);
    backdrop-filter: blur(2px); */
    transition:
        box-shadow 0.4s ease,
        transform 0.4s ease,
        backdrop-filter 0.4s ease;
    color: #fff;
    text-align: center;
}

#mainBanner .banner-clock #clock-time{
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
}

#mainBanner .banner-clock .clock-city{
    font-size: 20px;
    /* opacity: 0.8; */
    letter-spacing: 2px;
}

/* ----날씨영역 */
.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.weather-main{
    display: flex;
    align-items: center;
    gap: 8px;
}

#weather-icon{
    font-size: 50px;
    /* line-height: 1; */
    margin-top: -20px;
}

#weather-temp{
    display: flex;
    align-items: flex-start;
}

.temp-num{
    font-size: 80px;
    font-weight: 600;
    line-height: 1;
}

.temp-unit{
    font-size: 30px;
    /* margin-left: -px; */
    /* opacity: 0.8; */
}

#weather-desc{
    font-size: 20px;
    /* opacity: 0.85; */
}



/* 섹션2 이벤트배너 */
#event{
    padding: 100px 0;
    background: #fff;
}

#event .event-wrap{
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

#event .event-slide{
    width: 100%;
    height: 280px;
    border-radius: 25px;
    overflow: hidden;
}

#event .swiper-slide{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#event .event-wrap .event-slide .banner1{
    background-image: url(./images/banner1.jpg);
}
#event .event-wrap .event-slide .banner2{
    background-image: url(./images/banner2.jpg);
}
#event .event-wrap .event-slide .banner3{
    background-image: url(./images/banner3.jpg);
}


#event .event-wrap .event-slide .swiper-slide .innerTxt{
    color: #fff;
    margin: 70px 150px;
}

#event .event-wrap .event-slide .banner2 .innerTxt h1,
#event .event-wrap .event-slide .banner2 .innerTxt h4{
    color: #121212;
}

#event .event-wrap .event-slide .swiper-slide .innerTxt h1{
    font-size: 35px;
}

#event .event-wrap .event-slide .swiper-slide .innerTxt h4{
    margin: 20px 0;
    font-weight: 400;
}

#event .event-wrap .event-slide .swiper-slide .innerTxt .moreBtn{
    width: 120px;
    background-color: #003f53;
    padding: 15px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    margin-top: 10px;
}

#event .event-wrap .event-slide .swiper-slide .innerTxt .moreBtn p a{
    display: block;
    font-size: 14px;
}

.swiper-pagination-bullet-active{
    background: #fff !important;
}



/* 섹션3 내부시설 */
#facility{
    padding: 140px 0;
}

#facility .facility-list{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#facility .facility-item{
    width: 360px;
    height: 460px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    /* background: #000; */

    transition: transform 0.8s cubic-bezier(.2,.8,.3,1);
}

#facility .facility-item:hover {
    transform: translateY(-25px);
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);

}

#facility .cont1{
    background: url(./images/2025091119937a1691310.jpg) no-repeat center / cover;
}

#facility .cont2{
    background: url(./images/10a413547fd5205b9f325032c0000cc5.jpg) no-repeat center / cover;
}

#facility .cont3{
    background: url(./images/202509151994c37130450.jpg) no-repeat center / cover;
}

#facility .cont4{
    background: url(./images/202509241997a9df05690.jpg) no-repeat center / cover;
}


#facility .facility-item .hover-box{
    position: absolute;
    left: 0;
    bottom: -150px;
    width: 100%;
    height: 220px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.628);
    color: #121212;
    transition: bottom 0.35s ease;
}

#facility .facility-item .hover-box .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

#facility .facility-item .hover-box .time,
#facility .facility-item .hover-box .last-order{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

#facility .facility-item .hover-box .fc-btn{
    background-color: #fcc821;
    border-radius: 15px;
    height: 25px;
    padding: 5px;
    color: #121212;
    font-size: 14px;
    font-weight: 500;
}

#facility .facility-item .hover-box .time .sub-txt,
#facility .facility-item .hover-box .last-order .sub-txt{
    color: #2a2a2a;
    font-size: 14px;
}

#facility .facility-item .hover-box .plan{
    font-size: 15px;
    color: #121212;
    font-weight: 500;
}

#facility .facility-item .hover-box .time{
    justify-content: space-between;
}

#facility .facility-item .hover-box .last-order p{
    margin: 20px 33px 20px 0;
}

#facility .facility-item:hover .hover-box{
    bottom: 0;
}

#facility .info h3{
    font-size: 22px;
    margin-bottom: 10px;
}


/* 섹션4 관광지 */
#tour{
    padding: 50px 0;
    background: #fff;
    opacity: 0;
    transform: translateY(200px) scale(0.96);
    transition: all 2s cubic-bezier(.19,1,.22,1);
}

#tour.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

#tour .tour-wrap{
    width: 1600px;
    margin: 0 auto;
}

#tour .sec-title{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}


.coverflow{
    position: relative;
    width: 100%;
    height: 420px;
    perspective: 1200px;
}

.coverflow-list{
    position: relative;
    width: 100%;
    height: 100%;
}

.card{
    position: absolute;
    top: 0;
    left: 50%;
    width: 470px;
    transform: translateX(-50%);
    transform-style: preserve-3d;
    opacity: 0.35;
    transition:
    transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1),
    opacity 0.4s ease;
    will-change: transform;
    z-index: 1;

    transform-style: preserve-3d;
    cursor: pointer;
}

.card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 24px;
    display: block;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    transition: transform 0.4s ease;
}

.card.active{
    transform:
        translateX(-50%)
        translateZ(120px)
        translateY(35px)
        scale(1.05);
        
    opacity: 1;
    z-index: 10;
}

.card.active img {
    transform: scale(1.2);
}

.card:hover{
    filter: brightness(1.05);
}

.card.left1{
    transform:
        translateX(-50%)
        translateX(-310px)
        /* rotateY(25deg) */
        translateZ(0);
    opacity: 0.8;
    z-index: 5;
}

.card.left2{
    transform:
        translateX(-50%)
        translateX(-580px)
        translateY(-40px)
        scale(0.9);
    opacity: 0.45;
    z-index: 2;
}

.card.right1{
    transform:
        translateX(-50%)
        translateX(310px)
        /* rotateY(-25deg) */
        translateZ(0);
    opacity: 0.8;
    z-index: 5;
}

.card.right2{
    transform:
        translateX(-50%)
        translateX(580px)
        translateY(-40px)
        scale(0.9);
    opacity: 0.45;
    z-index: 2;
}

/* 기본 숨김 */
.card.left1::after,
.card.right1::after {
    content: "";
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 100px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;
}

/* 왼쪽 화살표 */
.card.left1::after {
    content: "‹";
    left: 10px;
}

/* 오른쪽 화살표 */
.card.right1::after {
    content: "›";
    right: 10px;
}

/* hover 시 보이게 */
.card:hover::after,
.card:hover::after {
    opacity: 1;
}


.card .txt{
    margin-top: 100px;
    text-align: center;
    opacity: 0;
    white-space: nowrap;
    /* transition: 
        opacity 0.3s ease,
        transform 0.9s ease; */
    transform: translateY(30px);
    transition:
        opacity 0.35s ease 0.15s,
        transform 0.35s ease 0.15s;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
}

.card.active .txt{
    opacity: 1;
    transform: translateY(0);
}

.card .txt h3{
    font-size: 22px;
    margin-bottom: 6px;
}

.card .txt p{
    font-size: 16px;
    color: #3e3e3e;
    margin-top: 15px;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
}


/* ---푸터 */
footer{
    font-weight: 300;
    background-color: #f6f6f6;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 300px;
}
footer .footer-contents{
    width: 1600px;
    margin: 0 auto;
    padding-top: 30px;
    color: #2c2c2c;
}
footer .footer-contents .footer-gnb{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
footer .footer-contents .footer-gnb:hover{
    cursor: pointer;
}
footer .footer-contents .footer-gnb span{
    font-weight: 500;
}
footer .footer-contents .sns{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
}
footer .footer-contents .sns li a>i{
    background-color: #2c2c2c;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}
footer .footer-contents .sns>li:hover{
    cursor: pointer;
}
footer .footer-contents .footer-box{
    display: flex;
    justify-content: space-between;
}
footer .footer-contents .footer-box .address{
    margin-top: 30px;
    color: #5a5a5a;
}
footer .footer-contents .footer-box .address span:hover{
    cursor: pointer;
}
footer .footer-contents .footer-box .footer-right{
    font-size: 14px;
    color: #5a5a5a;
    text-align: right;
}
footer .footer-contents .footer-box .footer-right .security{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 27px;
    margin-bottom: 18px;
}
footer .footer-contents .footer-box .footer-right .security img{
    width: 38px;
    margin-left: 120px;
}
footer .footer-contents .footer-box .footer-right .security img:hover{
    cursor: pointer;
}
footer .footer-contents .footer-logo{
    text-align: center;
    margin-top: 45px;
    padding-bottom: 20px;
}
footer .footer-contents .footer-logo:hover{
    cursor: pointer;
}
footer .footer-contents .footer-logo img{
    width: 105px;
}